body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 90px;
    background-image: url("img/order-food-table-empty-background_1253-744.avif"); position:relative;
    text-align: center;
    

  }

  button {
    background-color: #17d647;
    padding: 2%;
    border-radius: 1cm;
    border-color: brown;
    border-width: 3px;
   
  }
  
  
